compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, MS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    timeout-ms = <MS>; \
  };

COMBO(bspc, &kp BSPC, 6 7, 0 1, 100)
COMBO(cbspc, &kp LC(BSPC), 6 7 8, 0 1, 100)
COMBO(ctrlw, &kp LC(W), 6 7 8 9, 0 1, 100)
COMBO(enter, &kp ENTER, 23 24 25, 0 1, 100)
COMBO(caps, &kp CAPS, 14 15, luna, 100)
COMBO(capsword, &caps_word, 4 5, luna, 100)

COMBO(zhis, &kp LC(R), 11 27, luna, 100)

COMBO(rangle, &kp GT, 5 15, luna, 100)
COMBO(langle, &kp LT, 4 14, luna, 100)
COMBO(rround, &kp RPAR, 6 16, luna, 100)
COMBO(lround, &kp LPAR, 3 13, luna, 100)
COMBO(rcurve, &kp RBRC, 7 17, luna, 100)
COMBO(lcurve, &kp LBRC, 2 12, luna, 100)
COMBO(rsquare, &kp RBKT, 8 18, luna, 100)
COMBO(lsquare, &kp LBKT, 1 11, luna, 100)

COMBO(z, &kp Z, 1 3, luna, 100)
COMBO(j, &kp J, 2 3, luna, 100)
COMBO(v, &kp V, 1 2, luna, 100)
COMBO(q, &kp Q, 1 2, luna, 100)
COMBO(dot, &kp DOT, 1 2, luna, 100)

COMBO(rsfb, &sl SFB, 17 24, luna, 100)
COMBO(lsfb, &sl SFB, 12 21, luna, 100)
